/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&family=Inter:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* Slate 900 */
  --background-end-rgb: 2, 6, 23;     /* Slate 950 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  transition: filter 0.5s ease-in-out; /* Suaviza a troca de tema */
}

/* --- MODO SECRETO (KONAMI CODE) --- */
.secret-mode {
  /* Gira as cores 280 graus (Verde vira Roxo/Rosa Cyberpunk) */
  filter: hue-rotate(280deg) contrast(1.2) saturate(1.2); 
}

/* Opcional: Alterar a seleção de texto no modo secreto */
.secret-mode ::selection {
  background: #f472b6; /* Rosa */
  color: white;
}

/* Utilitários personalizados */
.font-mono {
  font-family: 'Fira Code', monospace;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* Esconde scrollbar mas permite rolar (para áreas de texto/código) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
